
// Components - Widget Address
//------------------------------------------------------------------------------

.widget-address {  
  ul {
    margin-top: 15px;
      
    li {
      line-height: 20px;
      color: #97866f;
    }
  }
}