
// Components - Widget
//------------------------------------------------------------------------------

.widget {
  box-sizing:border-box;
  border-radius: 6px;
  background: #fff;
  box-shadow: 1px 1px 0 1px #ded6cc;
  padding: 15px 15px 11px;
  margin-bottom: 20px;
  
  h3 {
    margin: 0 -15px 0;
    padding: 0 15px 16px;
    color: $color-pink;
    text-transform: uppercase;
    line-height: 16px;
    border-width: 2px;
    -webkit-border-image: url("../img/border-dots.png") 5 repeat;
    -o-border-image: url("../img/border-dots.png") 5 repeat;
    border-image: url("../img/border-dots.png") 5 repeat;
    border-image-width: 0 0 1px 0;
  }
  
  ul {
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
    overflow: hidden;
    list-style: none;
    
  }
  
  a {
    display: block;
  }
  
}