
// Components - Widget news
//------------------------------------------------------------------------------

.widget-news {
  overflow: hidden;
  padding: 0px;
  border-radius: 10px;
    
  .header {
    padding: 20px;
    overflow: hidden;
    line-height: initial;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.72);
    border-bottom: 2px solid #e5e5e5;
    background: rgb(251,46,109);
    background: -moz-linear-gradient(top,  rgba(251,46,109,1) 0%, rgba(230,16,82,1) 34%, rgba(230,16,82,1) 34%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,46,109,1)), color-stop(34%,rgba(230,16,82,1)), color-stop(34%,rgba(230,16,82,1))); 
    background: -webkit-linear-gradient(top,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%);
    background: -o-linear-gradient(top,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%);
    background: -ms-linear-gradient(top,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%); 
    background: linear-gradient(to bottom,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb2e6d', endColorstr='#e61052',GradientType=0 );
        
    @include mobile {
      cursor: pointer;
    }
        
    &+.header {
      position: relative;
          
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;            
        width: 1px;
        background-image:  url("../img/border-dots-vertical-white.png");
      }
    }
        
    &.active {
      @include mobile {
        background: rgb(81,66,43);
        background: -moz-linear-gradient(top,  rgba(81,66,43,1) 0%, rgba(42,31,15,1) 46%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,66,43,1)), color-stop(46%,rgba(42,31,15,1)));
        background: -webkit-linear-gradient(top,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%);
        background: -o-linear-gradient(top,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%); 
        background: -ms-linear-gradient(top,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%);
        background: linear-gradient(to bottom,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51422b', endColorstr='#2a1f0f',GradientType=0 );
      }
    }
  }
    
  h4 {
    margin: 6px 0px 16px;
    font-size: 13px;
    color: #2a1f0f;
  }
    
  .image {
    width: 100px;
    height: 100px;
    float:left;
    margin-right: 20px;
    border: 1px solid #eae1d4;
    background-position: center;
    cursor:pointer;
    
    @include mobile {
      margin-right: 10px;
    }
  }
    
  .news-content  {
    padding: 20px 20px 10px;
    border: 2px solid white;
    
    @media(min-width:768px) {
      display: block !important;
    }
      
    @include mobile {
      width: 100%;
    }
     
    +.news-content {
      border-width: 2px;
      -webkit-border-image: url("../img/border-dots-vertical.png") 3 repeat;
      -o-border-image: url("../img/border-dots-vertical.png") 3 repeat;
      border-image: url("../img/border-dots-vertical.png") 3 repeat;
      border-image-width: 0px 0px 0px 1px;

      @include mobile {
        display: none;
      }
    }
  }
    
  article {
    padding-bottom: 10px;
  }
      
  .description {
    line-height: 20px;
    display: table;
  }
      
  a {
    display: block;
    line-height: 30px;
    color: #e61052;
          
    .icon-more {
      width: 12px;
      height: 9px;
      display: inline-block;
      margin-left: 12px;
      background-image:url('../img/btn-more.png');
    }
  }
}