
// Components - Widget Follow Us
//------------------------------------------------------------------------------

.widget-follow-us {
  padding: 15px 15px 16px;
  overflow: hidden;
    
  ul {
    margin-top: 20px;
      
    li {
      float: left;
      width: 33.3%;
        
      @include smallScreenMobile {  
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
    
  a {
    line-height: 12px;
        
    i.icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 4px;
    }
        
    span {
      display: inline-block;
      vertical-align: top;
      line-height: 23px;
    }
        
    i.facebook {
      @include sprite-retina($sprite-1x-ico-facebook, $sprite-2x-ico-facebook);
    }
        
    i.twitter {
      @include sprite-retina($sprite-1x-ico-twitter, $sprite-2x-ico-twitter);
    }
        
    i.gplus {
      @include sprite-retina($sprite-1x-ico-gplus, $sprite-2x-ico-gplus);
    }
  }
}