
// Components - Widget Articles Link
//------------------------------------------------------------------------------

.widget-articles-link {
  a {
    line-height: 30px;
    padding-left: 25px;
    background-image: url('../img/bullet-arrow.png');
    background-repeat: no-repeat;
    background-position: left center;
  }
}