/* =========================================================================

    Project: test
    Author: XHTMLized
    Last updated: @@timestamp
@@toc

   ========================================================================= */

// Vendor Dependencies
@import "normalize.css/normalize";

// Authored Dependencies
@import "setup/variables";
@import "setup/mixins";
@import "setup/sprites";

// Common styles & layouts
@import "common/base";
@import "common/utilities";
@import "common/layout";

// ColorBox
@import "../../src/bower_components/jquery-colorbox/example4/colorbox.css";

// Components
@import "components/widget";
@import "components/widget-follow-us";
@import "components/widget-address";
@import "components/widget-articles-link";
@import "components/widget-news";

.navigation {
  ul {
    li {
      display: inline-block;
    }
  } 
}


