/* =========================================================================

    Project: test
    Author: XHTMLized
    Last updated: @@timestamp
@@toc

   ========================================================================= */

// Vendor Dependencies
@import "normalize.css/normalize";

// Authored Dependencies
@import "setup/variables";
@import "setup/mixins";



// Common styles & layouts
@import "common/base";
@import "common/utilities";
@import "common/layout";

// ColorBox
@import "../../src/bower_components/jquery-colorbox/example4/colorbox.css";

// Components

.navigation {
  ul {
    li {
      display: inline-block;
    }
  } 
}

.widget {
  box-sizing:border-box;
  border-radius: 6px;
  background: #fff;
  box-shadow: 1px 1px 0 1px #ded6cc;
  padding: 15px 15px 11px;
  margin-bottom: 20px;
  
  h3 {
    margin: 0 -15px 0;
    padding: 0 15px 16px;
    color: $color-pink;
    text-transform: uppercase;
    line-height: 16px;
    border-width: 2px;
    -webkit-border-image: url("../img/border-dots.png") 5 repeat;
    -o-border-image: url("../img/border-dots.png") 5 repeat;
    border-image: url("../img/border-dots.png") 5 repeat;
    border-image-width: 0 0 1px 0;
  }
  
  ul {
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
    overflow: hidden;
    list-style: none;
    
    li {
      a {
        display: block;
        
        i.icon {
          display: inline-block;
          width: 22px;
          height: 22px;
          margin-right: 4px;
          background-repeat: no-repeat;
        }
        
        span {
          display: inline-block;
          vertical-align: top;
          line-height: 23px;
        }
        
        i.facebook {
          background-image: url('../img/icon-facebook.jpg');
        }
        
        i.twitter {
          background-image: url('../img/icon-twitter.jpg');
        }
        
        i.gplus {
          background-image: url('../img/icon-gplus.jpg');
        }
        
      }
    }
  }
}

.sidebar {
  .widget-follow-us {
    padding: 15px 15px 16px;
    overflow: hidden;
    
    ul {
      margin-top: 20px;
      
      li {
        float: left;
        width: 33.3%;
        
        @include smallScreenMobile {
          width: 100%;
          margin-bottom: 10px;
        }
        
        a {
          line-height: 12px;
        }
      }
    }
  }
  
  .widget-articles-link {
    ul {
      li {
        a {
          line-height: 30px;
          padding-left: 25px;
          background-image: url('../img/bullet-arrow.png');
          background-repeat: no-repeat;
          background-position: left center;
        }
      }
    }
  }
  
  .widget-address {
    ul {
      margin-top: 15px;
      
      li {
        line-height: 20px;
        color: #97866f;
      }
    }
  }
  
}

.content {
  .widget-news {
    overflow: hidden;
    padding: 0px;
    border-radius: 10px;
    
    header {
      overflow: hidden;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.72);
      border-bottom: 2px solid #e5e5e5;
      background: rgb(251,46,109);
      background: -moz-linear-gradient(top,  rgba(251,46,109,1) 0%, rgba(230,16,82,1) 34%, rgba(230,16,82,1) 34%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,46,109,1)), color-stop(34%,rgba(230,16,82,1)), color-stop(34%,rgba(230,16,82,1))); 
      background: -webkit-linear-gradient(top,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%);
      background: -o-linear-gradient(top,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%);
      background: -ms-linear-gradient(top,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%); 
      background: linear-gradient(to bottom,  rgba(251,46,109,1) 0%,rgba(230,16,82,1) 34%,rgba(230,16,82,1) 34%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb2e6d', endColorstr='#e61052',GradientType=0 );
    
      .col-6 {
        padding: 20px;
        line-height: initial;
        border: 2px solid transparent;
        
        @include mobile {
          cursor: pointer;
        }
        
        &+.col-6 {
          border-width: 2px;
          -webkit-border-image: url("../img/border-dots-vertical-white.png") 3 repeat;
          -o-border-image: url("../img/border-dots-vertical-white.png") 3 repeat;
          border-image: url("../img/border-dots-vertical-white.png") 3 repeat;
          border-image-width: 0px 0px 0px 1px;
        }
        
        
        &.active {
          
          @include mobile {
            background: rgb(81,66,43);
            background: -moz-linear-gradient(top,  rgba(81,66,43,1) 0%, rgba(42,31,15,1) 46%); 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,66,43,1)), color-stop(46%,rgba(42,31,15,1)));
            background: -webkit-linear-gradient(top,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%);
            background: -o-linear-gradient(top,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%); 
            background: -ms-linear-gradient(top,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%);
            background: linear-gradient(to bottom,  rgba(81,66,43,1) 0%,rgba(42,31,15,1) 46%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51422b', endColorstr='#2a1f0f',GradientType=0 );
          }
        }
      }
      
    }
    
    h4 {
      margin: 6px 0px 16px;
      font-size: 13px;
      color: #2a1f0f;
    }
    
    .image {
      width: 100px;
      height: 100px;
      float:left;
      margin-right: 20px;
      border: 1px solid #eae1d4;
      background-position: center;
      cursor:pointer;
      
      @include mobile {
        margin-right: 10px;
      }
    }
    
    > .col-6 {
      padding: 20px 20px 10px;
      border: 2px solid white;
      
      @media(min-width:768px) {
        display: block !important;
      }
      
      @include mobile {
        width: 100%;
      }
      
      +.col-6 {
        border-width: 2px;
        -webkit-border-image: url("../img/border-dots-vertical.png") 3 repeat;
        -o-border-image: url("../img/border-dots-vertical.png") 3 repeat;
        border-image: url("../img/border-dots-vertical.png") 3 repeat;
        border-image-width: 0px 0px 0px 1px;
        
        @include mobile {
          display: none;
        }
      }
      
      article {
        padding-bottom: 10px;
      }
      
      .description {
        line-height: 20px;
        display: table;
        
        a {
          display: block;
          line-height: 30px;
          color: #e61052;
          
          .icon-more {
            width: 12px;
            height: 9px;
            display: inline-block;
            margin-left: 12px;
            background-image:url('../img/btn-more.png');
          }
        }
      }
      
    }
  }
}